/* Copyright 2009-2011 Hewlett-Packard Development Company, L.P. All rights reserved. */
.enyo-vslider-button {
	height: 40px;
	width: 40px;
	z-index: 50;
	background: url(../images/slider-handle.png) left top no-repeat;
	position: absolute;
	margin: -14px -15px;
}

.enyo-vslider-button.enyo-button-down {
	background-position-y: -40px;
}

.enyo-vslider {
	/* 
	FIXME: why in the heck does this work to properly position the progress
	div inside this one?
	*/
	margin: 14px 0px;
	position:relative;
}

.enyo-vslider-progress {
	width: 10px;
	border-width: 4px 0px;
	-webkit-border-image: url(../images/vslider-track.png) 4 0 4 0 repeat repeat;
	margin: 0px 9px;
	position:relative;
}

.enyo-vslider-inner {
	margin: -4px 0;
}